* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif, sans-serif;
}

header {
  background-color: #2e6769;
  background-image: linear-gradient(to right, #48fee6, #008cff);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  padding: 15px;
} 

.h4
{
  color:crimson;
  display: inline-block;
  font-size: 26px;
  font-weight: 500;
  padding-top:0.5rem;
  padding-bottom:0.5rem;

}

header .subreddit_input {
  display: inline-block;
  color: #F3F3F3;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-align: justify;
  margin-left:50%;
  transform: translate(-50%);
  text-transform: lowercase;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

.articles article {
  padding: 30px 15px;
  background-color: #FFF;
  color: #212121;
}

.articles article a {
  text-decoration: none;
}

.articles article h3 {
  color: rgb(33, 33, 33);
}

.articles article:nth-child(2n) {
  background-color: #F3F3F3;
}

.articles article:hover {
  background-image: linear-gradient(to left, #66fe48, #00ffc8);
}

.articles article:hover h3 {
  color: rgb(255, 255, 255);
} 